@page "/mergesort"
@using SelectionSort
@using LRSort.Models


<div>
    <div class="flex_left" style="width: 50%;">
        <div>
            <input type="text" @bind="@ArrayString" />
            <button @onclick="(async () => await Chache())">Sort</button>
        </div>


        @if (arrayNumber.Count > 0)
        {
            <h3>@responce</h3>
        }

    </div>


    <div class="flex_right" style="width: 50%;">
    </div>


</div>





@code {
    string ArrayString = "";
    List<double> arrayNumber = new();
    string responce = "";
    TimeSpan ExTime;
    int n, m = 0;
    double[,] numberArray = new double[0, 0];
    double[,] copy = new double[0, 0];
    double[,] buffernumberArray = new double[0, 0];
    SortResponce<double> sortResponce = new();

    async Task Chache()
    {
        if (ArrayString.Replace(" ", "") != "")
        {
            arrayNumber.Clear();
            responce = string.Empty;
            string[] arrayString = ArrayString.Replace(" ", "").Replace(",", "&").Replace(".", ",").Split('&');
            if (arrayString.Count() > 1)
            {
                foreach (var item in arrayString)
                {
                    arrayNumber.Add(Convert.ToDouble(item));
                }
            }
            else
            {
                arrayNumber.AddRange(GenerationArray(Convert.ToInt32(arrayString[0])));
            }

            double[] arraySort = arrayNumber.ToArray().SortMergeArray(0, arrayNumber.Count - 1);
            ExTime = sortResponce.ExecutionTime;
            foreach (var item in arraySort.ToList())
            {
                responce += item + " ";
            }
        }
    }


    List<double> GenerationArray(int arrayCount)
    {
        List<double> array = new List<double>();
        if (arrayCount > 0)
        {
            Random rnd = new Random();

            for (int i = 0; i < arrayCount; i++)
            {
                double val = rnd.Next(0, 100);
                array.Add(val);
            }
        }
        return array;
    }

}